<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wisc.ece.pockethow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".frontend.PageDetailActivity"
            android:label=""
            android:parentActivityName=".frontend.PageListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wisc.ece.pockethow.frontend.PageListActivity" />
        </activity>
        <activity
            android:name=".frontend.PageListActivity"
            android:label="Search Results" />
        <activity android:name=".dbOperations.dbTester" />
        <activity android:name=".frontend.searchActivity"></activity>
        <activity
            android:name=".frontend.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".frontend.CategorySelectionActivity" />
        <activity
            android:name=".frontend.SideNavigationActivity"
            android:label="@string/title_activity_side_navigation"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>